/* Global Styles */
:root {
    --primary-color: #b22222;
    --secondary-color: #228b22;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #d32f2f;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding: 20px 0;
    position: relative;
}

.header::after {
    content: "❌"; /* Decorative icon */
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; /* Adjust spacing */
  }

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
}

.data {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.data h2 {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
}

footer .responsive-logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Responsive Design */
@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }

    .info {
        flex-direction: column;
    }
}
